<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">{{appname | uppercase}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li *ngFor="let item of menu" class="nav-item">
        <a *ngIf="loggedin" class="nav-link text-white" [routerLink]="item.link">{{item.label}}</a>
      </li>
    </ul>
    <span *ngIf="loggedin;else loginbutton">
      <button #mybutton class="btn btn-success mr-2" (click)="handleClick($event)">Logout</button>
    </span>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>



<ng-template #loginbutton>
  <button #mybutton class="btn btn-success mr-2" (click)="handleClick($event)">{{buttonText}}</button>
</ng-template>
