<div class="container mt-4">
  <div class="row">
    <div clas="col-md-4">
      <!-- <app-movielist></app-movielist> -->
      <button (click)="handleRoute()">Programatic</button>
      <div class="card m-4">
        <div>
          <app-publisher></app-publisher>
        </div>
      </div>

      <div class="card m-4">
        <div>
          <app-subscriber></app-subscriber>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div clas="col-md-4">
      <!-- <app-artists></app-artists> -->
    </div>
  </div>
</div>
